body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .infos-person, .edit-profil {
    display: flex !important;
  }
  .dropdown-lowres {
    display: none !important;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .infos-person, .edit-profil {
    display: flex !important;
  }
  .dropdown-lowres {
    display: none !important;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .main-messages-container { width: 100% !important; }
  .infos-person-lowres, .edit-profil-lowres {
    display: block !important;
  }
  .dropdown-lowres {
    display: none !important;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .main-messages-container { width: 100% !important; }
  .row { flex-wrap: wrap !important; }
  .discussions-container { width: 100% !important; }
  .chat-container { width: 100% !important; }
  .infos-person-lowres, .edit-profil-lowres, .dropdown-lowres-button {
    display: block !important;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .main-messages-container { width: 100% !important; }
  .row { flex-wrap: wrap !important; }
  .discussions-container { width: 100% !important; }
  .chat-container { width: 100% !important; }
  .infos-person-lowres, .edit-profil-lowres, .dropdown-lowres-button {
    display: block !important;
  }
}

:focus {
  outline: none;
}

.col {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}
.center {
	margin-left: auto;
	margin-right: auto;
}

.no-results {
  text-align: center;
  font-size: 15em;
  color: lightgray;
  margin-top: 25vh;
}

.menu {
  position: absolute;
  word-break: break-all;
  margin-right: 10px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
  z-index: 9999;
}
.menu-icon:hover {
  cursor: pointer;
}
.menu-item {
  padding: 20px;
  font-size: .8em;
  transition: .25s background-color;
}
.menu-item:hover {
  cursor: pointer;
	background-color: rgb(230, 230, 230);
}

.blocked-list {
  width: 50%;
}
.blocked-person {
  font-size: 2em;
  transition: .25s background-color;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	background-color: white;
	padding: 20px;
}
.blocked-person:hover {
  cursor: pointer;
	background-color: rgb(230, 230, 230);
}

.red-btn {
  border: 0px;
  padding: 20px;
  background-color: #c31e27;
  border-radius: 5px;
  color: white;
}
.red-btn:hover {
  cursor: pointer;
}

.infos-person, .edit-profil {
  display: none;
}
.infos-person-lowres, .edit-profil-lowres {
  display: none;
}

.dropdown-lowres-button {
  display: none;
}
.dropdown-lowres {
  display: none;
}
.dropdown-lowres-item {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  transition: .3s all ease;
}
.dropdown-lowres-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
}
.dropdown-lowres-item-active {
  background-color: crimson;
  color: white;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, .1);
}

.profilePic:hover {
  cursor: 'pointer';
}
